{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <a href="{% url 'manage_subjects' %}" class="btn-outline-aw mb-4"><i class="bi bi-arrow-left"></i> Back</a>
    <div class="form-section">
      <h5 class="fw-700 mb-4">{{ title }}</h5>
      <form method="POST">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-12"><label class="form-label">Subject Name</label>{{ form.name }}</div>
          <div class="col-md-6"><label class="form-label">Subject Code</label>{{ form.code }}</div>
          <div class="col-md-6"><label class="form-label">Credits</label>{{ form.credits }}</div>
          <div class="col-12"><label class="form-label">Class</label>{{ form.classroom }}</div>
          <div class="col-12"><label class="form-label">Description</label>{{ form.description }}</div>
        </div>
        <div class="d-flex gap-3 mt-4">
          <button type="submit" class="btn-primary-aw"><i class="bi bi-check2"></i> Save</button>
          <a href="{% url 'manage_subjects' %}" class="btn-outline-aw">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
